@import "variables.css";

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px none;
}

#searchbar {
    display: flex;
    align-items: center;
    width: 30vw;
  }
  
  #searchbar > button {
    width: calc(var(--space-medium) * 2);
    height: calc(var(--space-medium) * 2);
    color: var(--color-primary-fg);
  
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  #searchbar > button > .feather-search {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  #searchbar > button:hover {
    color: var(--color-primary-base);
  }
  
  #searchbar > button:focus-visible {
    color: var(--color-primary-base);
    background: var(--color-bg-highlight);
    outline: var(--space-smallest) solid var(--color-fg-shade);
  }
  
  #searchbar > input {
    height: calc(var(--space-medium) * 2);
    flex: 1;
  
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: var(--space-smallest) solid var(--color-fg-base);
  }
  
  #searchbar > input:focus-visible {
    border-color: var(--color-primary-base);
  }